#board {
  width: 50%;
  min-width: 360px;
  padding: 0.2em;
  background-color: #0060ce;
  border: solid black;
  display: flex;
  flex-direction: row;
}
.board-col {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
}
@media(hover: hover) and (pointer: fine){
  .board-col:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.board-col:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.board-cell {
  display: flex;
  margin: 0.1em;
  padding: 0.2em;
  justify-content: center;
  width: auto;
}
.circle {
  border-radius: 50%;
  border: 0.3vw solid black;
  width: 4.5vw;
  height: 4.5vw;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.empty {
  background-color: white;
}