#board {
  width: 90vmin;
  background-color: #0060ce;
  border: solid black;
  display: flex;
  flex-direction: row;
}
.board-col {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
}
@media(hover: hover) and (pointer: fine){
  .board-col:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.board-col:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.board-cell {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.circle {
  border-radius: 50%;
  box-sizing: border-box;
  border: 0.3vw solid black;
  position: absolute;
  width: 100%;
  height: 100%;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.empty {
  background-color: white;
}

.x {
  position: relative;
  height: 100%;
  width: 100%;  /* ...but maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.x::before,
.x::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3vw; /* cross thickness */
  background-color: black;
}

.x::before {
  transform: rotate(45deg);
}

.x::after {
  transform: rotate(-45deg);
}